@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #5b39c9;
  --color-secondery: #0a2540;
  --color-basic: #ffffff;
  --color-body: #f8f8f8;
  --color-text: #555555;
  --color-border: #55555530;
}

body {
  @apply  text-base text-secondery leading-relaxed antialiased;
}

p {
  @apply text-[14px] sm:text-[15px] md:text-[16px]
    leading-[1.7] text-secondery/80;
}

h1 {
  @apply  leading-normal  font-bold text-[28px] sm:text-[34px] lg:text-[40px] xl:text-[45px] text-secondery;
}

h2 {
  @apply  leading-normal  font-semibold text-[24px] md:text-[26px] lg:text-[32px] text-secondery;
}

h3 {
  @apply  leading-normal  text-[20px] md:text-[22px] lg:text-[26px] font-semibold text-secondery ;
}

h4 {
  @apply  leading-normal   font-semibold text-[18px] md:text-[20px] lg:text-[22px] text-secondery ;
}

h5 {
  @apply  font-medium text-[16px]  text-secondery ;
}

h6 {
  @apply  leading-normal font-medium  md:text-[14px] text-[12px] text-text;
}

.text-small {
  @apply text-[12px] leading-normal  sm:text-[13px] text-secondery/70 ;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
